{% load static %}
{% load permission_tags  %}
<!--! ================================================================ !-->
<!--! [Start] Navigation Manu !-->
<!--! ================================================================ !-->
<style>
.nxl-navigation .b-brand img {
    border: none;
    border-radius: 0;
    max-height: 40px;
    width: auto;
}
</style>
<nav class="nxl-navigation">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="{% url 'accounts:dashboard' %}" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="{% static 'images/tvs-lucas-logo.png' %}" alt="" class="logo logo-lg" />
                <img src="{% static 'images/tvs-lucas-logo.png' %}" alt="" class="logo logo-sm" />
            </a>
        </div>
        <div class="navbar-content">
            <ul class="nxl-navbar">
                <li class="nxl-item nxl-caption">
                    <label>Navigation</label>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-airplay"></i></span>
                        <span class="nxl-mtext">Dashboards</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="index.html">CRM</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="analytics.html">Analytics</a></li>
                    </ul>
                </li>
                {% if request.user|has_perm:'ACCESS_COMPANY_MODULE' %}
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-briefcase"></i></span>
                        <span class="nxl-mtext">Company</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="{% url 'companies:company_list' %}">Company Management</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if request.user|has_perm:'ACCESS_ORGANIZATIONS_MODULE' %}
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-users"></i></span>
                        <span class="nxl-mtext">Organization Setup</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        {% if request.user|has_perm:'ACCESS_USER_MODULE' %}<li class="nxl-item"><a class="nxl-link" href="{% url 'accounts:user_list' %}">User Management</a></li>{% endif %}
                        {% if request.user.is_super_admin or request.user.is_superuser or request.user.role and request.user.role.role_code == 'COMPANYADMIN' %}<li class="nxl-item"><a class="nxl-link" href="{% url 'accounts:role_list' %}">Role &amp; Permission</a></li>{% endif %}
                        <li class="nxl-item"><a class="nxl-link" href="{% url 'accounts:department_list' %}">Departments</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="{% url 'organizations:dashboard' %}">Plants Management</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="{% url 'organizations:financial_year_list' %}">
                                Financial Year
                        </a>
                        </li>
                        <li class="nxl-item"><a class="nxl-link" href="{% url 'organizations:calendar' %}">Calendar</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nxl-item">
                    <a href="{% url 'brsr:brsr_list' %}" class="nxl-link">
                        <span class="nxl-micon">
                            <i class="feather-layout"></i>
                        </span>
                        <span class="nxl-mtext">BRSR</span>
                    </a>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-send"></i></span>
                        <span class="nxl-mtext">Applications</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="{% url 'notifications:notification_list' %}">Notifications</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="{% url 'timesheets:timesheet_list' %}">Time Sheets</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="{% url 'email_master:email_list' %}">Email</a></li>
                        {% if request.user.is_super_admin or request.user.is_superuser or request.user.role and request.user.role.role_code == 'ADMIN' %}<li class="nxl-item"><a class="nxl-link" href="{% url 'calculator:unit_category_list' %}">Conversion Calculator Master</a></li>{% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--! ================================================================ !-->
<!--! [End]  Navigation Manu !-->
<!--! ================================================================ !-->
