{% extends 'base/base.html' %}
{% load static %}
{% load permission_tags %}
{% block title %}Notification List{% endblock %}
{% block container_class %}nxl-container apps-container apps-chat{% endblock %}

{% block content_class %}nxl-content without-header nxl-full-content{% endblock %}
{% block extra_css %}
<style>
.bg-darkgray-200 {
    background-color: #6584a3 !important;
    text-align: end;
}
.wd-400 {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
}
.nxl-container .nxl-content .main-content {
    overflow-x: visible !important;
    padding: 0px !important;
}
.chat-footer{
    position: sticky !important;
    bottom: 0;
    z-index: 100;
    background: #fff;
}


/* ==========================================
   NOTES CARD COMMON
========================================== */

.note-has-grid .single-note-item .card {
    position: relative;
    overflow: hidden;
}

.note-has-grid .single-note-item .side-stick {
    position: absolute;
    left: 0;
    top: 20px;
    width: 3px;
    height: 40px;
    border-radius: 0 3px 3px 0;
    background: #d1d5db;
}

.note-has-grid .single-note-item .point {
    font-size: 10px;
    margin-left: 5px;
}

/* ==========================================
   IMPORTANT (GREEN)
========================================== */

.note-has-grid .single-note-item.note-important .point {
    color: #17c666;
}

.note-has-grid .single-note-item.note-important .side-stick {
    background-color: #17c666;
}

/* ==========================================
   TASKS (RED)
========================================== */

.note-has-grid .single-note-item.note-tasks .point {
    color: #ea4d4d;
}

.note-has-grid .single-note-item.note-tasks .side-stick {
    background-color: #ea4d4d;
}

/* ==========================================
   WORKS (BLUE)
========================================== */

.note-has-grid .single-note-item.note-works .point {
    color: #3454d1;
}

.note-has-grid .single-note-item.note-works .side-stick {
    background-color: #3454d1;
}

/* ==========================================
   SOCIAL (CYAN)
========================================== */

.note-has-grid .single-note-item.note-social .point {
    color: #36cfc9;
}

.note-has-grid .single-note-item.note-social .side-stick {
    background-color: #36cfc9;
}

/* ==========================================
   ARCHIVE (DARK)
========================================== */

.note-has-grid .single-note-item.note-archive .point {
    color: #283046;
}

.note-has-grid .single-note-item.note-archive .side-stick {
    background-color: #283046;
}

/* ==========================================
   PRIORITY (RED)
========================================== */

.note-has-grid .single-note-item.note-priority .point {
    color: #ea4d4d;
}

.note-has-grid .single-note-item.note-priority .side-stick {
    background-color: #ea4d4d;
}

/* ==========================================
   PERSONAL (PURPLE)
========================================== */

.note-has-grid .single-note-item.note-personal .point {
    color: #4f46e5;
}

.note-has-grid .single-note-item.note-personal .side-stick {
    background-color: #4f46e5;
}

/* ==========================================
   BUSINESS (ORANGE)
========================================== */

.note-has-grid .single-note-item.note-business .point {
    color: #f59e0b;
}

.note-has-grid .single-note-item.note-business .side-stick {
    background-color: #f59e0b;
}

/* ==========================================
   NOTE TITLE
========================================== */

.note-title {
    font-size: 18px;
    font-weight: 600;
    color: #1e293b;
}

/* ==========================================
   NOTE DATE
========================================== */

.note-date {
    font-size: 12px;
    color: #94a3b8;
}

/* ==========================================
   NOTE CONTENT
========================================== */

.note-inner-content {
    font-size: 14px;
    line-height: 1.8;
    color: #64748b;
}

</style>
{% endblock %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="main-content d-flex">
    <!-- [ Content Sidebar ] start -->
    <div class="content-sidebar content-sidebar-md" data-scrollbar-target="#psScrollbarInit">
        <div class="content-sidebar-header bg-white sticky-top hstack justify-content-between">
            <h4 class="fw-bolder mb-0">Notification</h4>
            <a href="javascript:void(0);" class="app-sidebar-close-trigger d-flex">
                <i class="feather-x"></i>
            </a>
        </div>

        <div class="content-sidebar-body">
            <ul class="nav d-flex flex-column nxl-content-sidebar-item">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link note-link active" id="all-category">
                        <i class="feather-layers"></i>
                        <span>Alls</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link note-link" id="note-tasks">
                        <i class="feather-check-circle"></i>
                        <span>Tasks</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link note-link" id="note-works">
                        <i class="feather-tool"></i>
                        <span>Works</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link note-link" id="note-social">
                        <i class="feather-cast"></i>
                        <span>Social</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link note-link" id="note-archive">
                        <i class="feather-archive"></i>
                        <span>Archive</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link note-link" id="note-priority">
                        <i class="feather-command"></i>
                        <span>Priority</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link note-link" id="note-personal">
                        <i class="feather-user"></i>
                        <span>Personal</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link note-link" id="note-business">
                        <i class="feather-briefcase"></i>
                        <span>Business</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link note-link" id="note-important">
                        <i class="feather-star"></i>
                        <span>Important</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- [ Content Sidebar  ] end -->
    <!-- [ Main Area  ] start -->
    <div class="content-area" data-scrollbar-target="#psScrollbarInit">
        <div class="content-area-header sticky-top">
            <div class="page-header-left d-flex align-items-center gap-2">
                <a href="javascript:void(0);" class="app-sidebar-open-trigger me-2">
                    <i class="feather-align-left fs-20"></i>
                </a>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-light-brand dropdown-toggle" data-bs-toggle="dropdown" data-bs-offset="0,18">Project Notes</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="javascript:void(0)">All Notes</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)">Lead Notes</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)">Client Notes</a></li>
                        <li><a class="dropdown-item active" href="javascript:void(0)">Project Notes</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)">Meeting Notes</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)">Personal Notes</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)">Customer Notes</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="avatar-text avatar-md" data-bs-toggle="dropdown" data-bs-offset="0,22">
                        <i class="feather-eye"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="feather-eye me-3"></i>
                                <span>Read</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="feather-eye-off me-3"></i>
                                <span>Unread</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="feather-star me-3"></i>
                                <span>Starred</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="feather-shield-off me-3"></i>
                                <span>Unstarred</span>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="feather-clock me-3"></i>
                                <span>Snooze</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="feather-check-circle me-3"></i>
                                <span>Add Tasks</span>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="feather-archive me-3"></i>
                                <span>Archive</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="feather-alert-octagon me-3"></i>
                                <span>Report Spam</span>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="feather-trash-2 me-3"></i>
                                <span>Delete</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="d-flex" data-bs-toggle="dropdown" data-bs-offset="0,22" data-bs-auto-close="outside" aria-expanded="false">
                        <div class="avatar-text avatar-md" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Tags">
                            <i class="feather-tag"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Office" checked="checked">
                                <label class="custom-control-label c-pointer" for="Office">Office</label>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Family">
                                <label class="custom-control-label c-pointer" for="Family">Family</label>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Friend" checked="checked">
                                <label class="custom-control-label c-pointer" for="Friend">Friend</label>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Marketplace">
                                <label class="custom-control-label c-pointer" for="Marketplace"> Marketplace </label>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Development">
                                <label class="custom-control-label c-pointer" for="Development"> Development </label>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <i class="feather-plus me-3"></i>
                            <span>Create Tag</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <i class="feather-tag me-3"></i>
                            <span>Manages Tag</span>
                        </a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="d-flex" data-bs-toggle="dropdown" data-bs-offset="0,22" data-bs-auto-close="outside" aria-expanded="false">
                        <div class="avatar-text avatar-md" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Labels">
                            <i class="feather-folder-plus"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Updates">
                                <label class="custom-control-label c-pointer" for="Updates">Updates</label>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Socials">
                                <label class="custom-control-label c-pointer" for="Socials">Socials</label>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Primary" checked="checked">
                                <label class="custom-control-label c-pointer" for="Primary">Primary</label>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Forums">
                                <label class="custom-control-label c-pointer" for="Forums">Forums</label>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Promotions" checked="checked">
                                <label class="custom-control-label c-pointer" for="Promotions"> Promotions </label>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <i class="feather-plus me-3"></i>
                            <span>Create Label</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <i class="feather-folder-plus me-3"></i>
                            <span>Manages Label</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-header-right ms-auto">
                <div class="hstack gap-2">
                    <div class="hstack">
                        <a href="javascript:void(0)" class="search-form-open-toggle">
                            <div class="avatar-text avatar-md" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Search">
                                <i class="feather feather-search"></i>
                            </div>
                        </a>
                        <form class="search-form" style="display: none">
                            <div class="search-form-inner">
                                <a href="javascript:void(0)" class="search-form-close-toggle">
                                    <div class="avatar-text avatar-md" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Search Close">
                                        <i class="feather feather-arrow-left"></i>
                                    </div>
                                </a>
                                <input type="search" class="py-3 px-0 border-0 w-100" id="notesSearch" placeholder="Search...">
                            </div>
                        </form>
                    </div>
                    <a href="javascript:void(0)" class="d-none d-sm-flex">
                        <div class="avatar-text avatar-md" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Newest">
                            <i class="feather feather-chevron-left"></i>
                        </div>
                    </a>
                    <a href="javascript:void(0)" class="d-none d-sm-flex">
                        <div class="avatar-text avatar-md" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Oldest">
                            <i class="feather feather-chevron-right"></i>
                        </div>
                    </a>
                    <div class="dropdown d-none d-sm-flex">
                        <a href="javascript:void(0)" class="btn btn-light-brand btn-sm rounded-pill dropdown-toggle" data-bs-toggle="dropdown" data-bs-offset="0,23">Newest</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:void(0)">Title</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Priority</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Category</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Time & Date</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item active" href="javascript:void(0)">Newest</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Oldest</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Ascending</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Descending</a></li>
                        </ul>
                    </div>
                    <div class="dropdown d-none d-sm-flex">
                        <a href="javascript:void(0)" class="d-flex" data-bs-toggle="dropdown" data-bs-offset="0,22" data-bs-auto-close="outside">
                            <div class="avatar-text avatar-md" data-bs-toggle="tooltip" data-bs-trigger="hover" title="More Options">
                                <i class="feather feather-more-vertical"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-plus me-3"></i>
                                <span>Add to Group</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-user-plus me-3"></i>
                                <span>Add to Contact</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-eye-off me-3"></i>
                                <span>Make as Unread</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-sliders me-3"></i>
                                <span>Filter Messages</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-archive me-3"></i>
                                <span>Make as Archive</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-slash me-3"></i>
                                <span>Report Spam</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-sliders me-3"></i>
                                <span>Report phishing</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-download me-3"></i>
                                <span>Download Messages</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-bell-off me-3"></i>
                                <span>Mute Conversion</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-slash me-3"></i>
                                <span>Block Conversion</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather feather-trash-2 me-3"></i>
                                <span>Delete Conversion</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area-body pb-0">
            <div class="row note-has-grid" id="note-full-container">
                <!--! BEGIN: [Single Note Item] !-->
                {% for notification in notifications %}
                <div class="col-xxl-4 col-xl-6 col-lg-4 col-sm-6 single-note-item all-category note-important note-tasks">
                    <div class="card card-body mb-4 stretch stretch-full">

                        <span class="side-stick"></span>

                        <h5 class="note-title text-truncate w-75 mb-1"
                            data-noteheading="{{ notification.title }}">
                            {{ notification.title }}
                            <i class="point bi bi-circle-fill ms-1 fs-7"></i>
                        </h5>

                        <p class="fs-11 text-muted note-date">
                            {{ notification.created_at|date:"d F Y" }}
                        </p>

                        <div class="note-content flex-grow-1">
                            <p class="text-muted note-inner-content text-truncate-3-line"
                            data-notecontent="{{ notification.message }}">
                                {{ notification.message }}
                            </p>
                        </div>

                        <div class="d-flex align-items-center gap-1">

                            {% if notification.is_read %}
                                <span class="badge bg-success">Read</span>
                            {% else %}
                                <span class="badge bg-danger">Unread</span>
                            {% endif %}

                            <span class="avatar-text avatar-sm">
                                <i class="feather-star favourite-note"></i>
                            </span>

                            <span class="avatar-text avatar-sm">
                                <i class="feather-trash-2 remove-note"></i>
                            </span>

                            <div class="ms-auto">
                                <small class="text-muted fw-semibold">
                                    {{ notification.sender.full_name|default:notification.sender.username }}
                                </small>

                                <div class="dropdown btn-group category-selector">
                                    <a class="nav-link dropdown-toggle category-dropdown label-group p-0"
                                    data-bs-toggle="dropdown"
                                    href="javascript:void(0)"
                                    role="button">

                                        <div class="category">
                                            <div class="category-business"></div>
                                            <div class="category-social"></div>
                                            <div class="category-important"></div>
                                        </div>

                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right category-menu">

                                        <a class="dropdown-item" href="javascript:void(0)">
                                            {{ notification.module }}
                                        </a>

                                        <a class="dropdown-item" href="javascript:void(0)">
                                            {{ notification.notification_type }}
                                        </a>

                                        {% if notification.action_url %}
                                            <div class="dropdown-divider"></div>

                                            <a class="dropdown-item"
                                            href="{{ notification.action_url }}">
                                                Open
                                            </a>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <div class="alert alert-info">
                        No notifications found.
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        <!-- [ Footer ] start -->
        {% comment %} <footer class="footer">
            <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
                <span>Copyright ©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <div class="d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
            </div>
        </footer> {% endcomment %}
        <!-- [ Footer ] end -->
    </div>
    <!-- [ Content Area ] end -->
</div>
<!-- [ Main Content ] end -->


<!--! ================================================================ !-->
<!--! BEGIN: Downloading Toast !-->
<!--! ================================================================ !-->
<div class="position-fixed" style="right: 5px; bottom: 5px; z-index: 999999">
    <div id="toast" class="toast bg-black hide" data-bs-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header px-3 bg-transparent d-flex align-items-center justify-content-between border-bottom border-light border-opacity-10">
            <div class="text-white mb-0 mr-auto">Downloading...</div>
            <a href="javascript:void(0)" class="ms-2 mb-1 close fw-normal" data-bs-dismiss="toast" aria-label="Close">
                <span class="text-white">&times;</span>
            </a>
        </div>
        <div class="toast-body p-3 text-white">
            <h6 class="fs-13 text-white">Project.zip</h6>
            <span class="text-light fs-11">4.2mb of 5.5mb</span>
        </div>
        <div class="toast-footer p-3 pt-0 border-top border-light border-opacity-10">
            <div class="progress mt-3" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated w-75 bg-dark" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
<!--! ================================================================ !-->
<!--! END: Downloading Toast !-->
<!--! ================================================================ !-->
<script src="{% static 'vendors/js/vendors.min.js' %}"></script>
<script src="{% static 'js/common-init.min.js' %}"></script>
<!--! BEGIN: Vendors JS !-->
<script src="{% static 'vendors/js/vendors.min.js' %}"></script>
<!--! END: Vendors JS !-->
<!--! BEGIN: Apps Init  !-->
<script src="{% static 'js/common-init.min.js' %}"></script>
<script src="{% static 'js/apps-notes-init.min.js' %}"></script>
<!--! END: Apps Init !-->
<!--! BEGIN: Theme Customizer  !-->
<script src="{% static 'js/theme-customizer-init.min.js' %}"></script>
<!--! END: Theme Customizer !-->
<script>
    function removeNote() {
        $(".remove-note")
            .off("click")
            .on("click", function(event) {
                event.stopPropagation();
                $(this).parents(".single-note-item").remove();
            });
    }

    function favouriteNote() {
        $(".favourite-note")
            .off("click")
            .on("click", function(event) {
                event.stopPropagation();
                $(this).parents(".single-note-item").toggleClass("note-favourite");
            });
    }

</script>
{% endblock %}