/* Invalid Input */

.is-invalid {
    border: 1px solid #dc3545 !important;
    background-color: #fff5f5 !important;
}

.is-invalid:focus {
    border-color: #dc3545 !important;
    box-shadow: none !important;
}

/* Error Message Box */

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 4px;
    padding: 10px 14px;

    color: #dc3545;
    background-color: #fff5f5;

    border: 1px dashed #f5a3a3;
    border-radius: 0 0 4px 4px;

    font-size: 13px;
    font-weight: 500;
}

/* Upload Photo */
.upload-button {
    cursor: pointer;
}